/*.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction-list {
    margin: .8rem 0;
    padding: 0.2rem 1rem 0.2rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.date {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    justify-items: center;
    align-content: center;
    padding: 1rem;
    margin-right: .5rem;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}*/
.label-recent-transaction {
    color: #A4A5A7;
}

.transaction-list {
    margin: .8rem 0;
    padding: 0.2rem 1rem 0.2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date__div {
    margin: 0 .2rem;
    min-width: 2rem;
}

.pdate {
    margin-bottom: 0;
}

.title {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0;
}